.SearchBar_Container {
    margin: auto auto 0.7rem auto; 
    flex-grow: 2;
    display: flex;
    height: 2rem;
}

.SearchBar_Container2 {
    margin: auto;
}

.search_div {
    display: flex;
    margin: auto;
    position: relative;
    z-index: 91;
}

.iBox_SearchBar {
    background-color: black;
    width: 30rem;
    border: 1px solid rgba(128, 128, 128, 0.4);
    color: rgb(192, 187, 187);
    font-size: large;
    padding: 0.2rem;
    height: 2rem;
    padding-left: 2rem;
}

.searchIcon_SearchBar {
    cursor: pointer;
    padding: 0.75rem;
    width: 2rem;
    border-radius: 0.1rem;
    background-color: rgb(43, 43, 43);
    color: aliceblue;
}

.searchIcon_SearchBar:hover {
    background-color: black;
}

.Mic_SearchBar {
    border-radius: 100%;
    padding: 0.5rem;
    background-color: black;
}

.vid_bell_Navbar,
.Mic_SearchBar {
    cursor: pointer;
    color: whitesmoke;
    margin: auto 0.7rem;
}