.container_leftSideBar {
    /* background-image: linear-gradient(90deg, #5170ff, #ff66c4); */
    /* background-color: #435ed6; */
    /* background-color: #2fb9f4; */
    background-color: #4366ff;
    width: 4.5rem;
    height: calc(100vh - 3.55rem);
    box-sizing: border-box;
    overflow: auto;
}

.icon_sidebar_div {
    width: 4.5rem;
    height: 4rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0 0.3rem 0;
    /* margin: 0.5rem; */
}

/* .icon_sidebar {
    margin: auto; 
} */

.text_sidebar_icon {
    text-align: center;

    /* font-weight: 300;
    font-size: 0.85rem; */
    /* padding: 0.2rem; */
    /* padding-bottom: 1rem; */
    margin-top: 0.2rem;

}

.text_sidebar_icon span {
    text-decoration: none;
}

.icon_sidebar_div:hover,
.icon_sidebar_div.active {
    color: aliceblue;
    /* background-image: linear-gradient(90deg, #5170ff, #ff66c4); */
    background-color: rgb(197, 161, 190);

}

.container_DrawerLeftSidebar {
    position: absolute;
    display: flex;
    width: 100vw;
    z-index: 500;
}

.container2_DrawerLeftSidebar {
    height: calc(100vh - 3.6rem);
    overflow-y: auto;
    /* background-image: linear-gradient(90deg, #5170ff, #ff66c4); */
    /* background-color: #435ed6; */
    background-color: #5a78ff;
    width: 15rem;

}

.Drawer_leftSidebar,
.libraryBtn_DrawerleftSidebar {
    padding-top: 0.5rem;
    border-bottom: 2px solid rgba(225, 221, 221, 0.293);
}

.Drawer_icon_sidebar_div div {
    display: flex;
    margin: 0;
}

.Drawer_icon_sidebar_div {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.855);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.Drawer_icon_sidebar {
    margin: auto;
}

.Drawer_text_sidebarIcon {
    text-align: center;
    padding: 0.2rem;
}
.subscription_lsdbar{
    color: white;

}
.subscription_lsdbar h3{
    text-decoration: underline;
    margin: 20px 10px;
}
.channel_lsdbar{
    display: flex;
    cursor: pointer;
}
.channel_lsdbar:hover{
    color: rgb(77, 77, 243);
}
.channel_lsdbar p{
    border: 1px solid;
    background-color: gray;
    padding: 0.5rem;
    border-radius: 100%;
    margin: 1rem;
}
.channel_lsdbar div{
    margin: auto;
    width: 60%;

}
/* .container3_DrawerLeftSidebar{
flex-grow: 1;
background-color: rgb(0, 0, 252);
} */