/* .fstChar_logo_App {
  margin: auto;
  color: black;
  font-weight: bolder;
  cursor: pointer;
} */

.container_Pages_App {
  display: flex;
  background-color:#615cf0;
}

.container2_Pages_App {
  width: calc(100vh - 5rem);
  height: calc(100vh - 3.48rem);
  border-top: 2px solid rgb(128, 128, 128, 0.45);
  overflow-y: auto;
}